/* Weather App Stylesheet */
/* Imported Google Fonts */
/* Montserrat */
/* Lato */
/* Open Sans */
/* Poppins */
/* Source Sans Pro */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pink: #ee99ff;
  --blue: #1ab6e5;
  --green: #9FC490;
  --violet: #222639;
  --softViolet: #bb99ff;
}

body {
  background: var(--violet);
  color: white;
  font-family: "Poppins";
}

h1 {
  font-size: 1.8em;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-weight: 300;
  font-size: 0.9em;
}
h4.date {
  margin-bottom: 0;
}

span {
  font-size: 16px;
  font-weight: 300;
}

.topBar {
  background: var(--blue);
  height: 2.5em;
  margin-bottom: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 0em 5em 3em;
  grid-gap: 3em;
}

form {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
}

.locationList {
  display: flex;
  flex-direction: column;
  grid-gap: 0.7em;
  padding-top: 1em;
  margin-bottom: 0;
}

.citiesData {
  display: flex;
  grid-gap: 1em;
  align-items: center;
  justify-content: space-between;
}

.citiesData button {
  background: var(--softViolet);
  border-color: var(--softViolet);
  margin: 0.1em 0;
}

.currentLocationButton {
  background: var(--primary);
  border-color: var(--primary);
}
.currentLocationButton i {
  margin-right: 10px;
  color: var(--blue);
  font-size: 18px;
}

.orSeparator {
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
}

.listTitle {
  margin-bottom: 0;
}

input {
  background: transparent;
  border: 3px solid var(--blue);
  border-radius: 25px;
  padding: 0.5em 1em;
  color: #fff;
  text-transform: capitalize;
}

button {
  width: 100%;
  color: #fff;
  font-weight: 600;
  padding: 0.3em 1em;
  border-radius: 25px;
  background: transparent;
  border: 3px solid var(--blue);
  transition: 150ms ease-in-out;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

button:hover {
  background: transparent;
}

.cityName {
  text-transform: capitalize;
}

.searchButton {
  background: var(--blue);
}

.locationElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 1em;
}

.locationButton {
  background: var(--pink);
  border-color: var(--pink);
  text-transform: capitalize;
  margin: 1em 0 0;
  width: 85%;
}

.removeCityButton {
  width: 15%;
  display: flex;
  margin: 1em 0 0;
  align-items: center;
  background: var(--blue);
  justify-content: center;
}

:focus {
  outline: none !important;
}

::-moz-placeholder {
  color: #fff;
}

::placeholder {
  color: #fff;
}

aside {
  width: 25%;
}

article {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: space-between;
}

.rightSide h2 {
  text-align: left;
}

.dashboard {
  background: url(./images/Sunrise.svg);
  background-size: cover;
  background-position: 12em 50%;
  border: 3px solid var(--blue);
  padding: 2em;
  border-radius: 25px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  position: relative;
  z-index: 1;
  display: flex;
  grid-gap: 35px;
}

.cityNameCountryDateTime {
  width: 100%;
  display: flex;
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: flex-start;
}

.textContainer {
  width: 100%;
}

.dashboard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, var(--blue) 53%, transparent 43%);
  border-radius: 20px;
  z-index: -1;
}

.statContainer {
  width: 100%;
  padding: 0.3em 0;
  grid-gap: 1em 0;
  display: flex;
  flex-wrap: wrap;
}
.statContainer div {
  width: 33.3%;
}
.statContainer div.w100 {
  width: 100%;
}
.statContainer div.w50 {
  width: 50%;
}

.condition {
  margin-right: -5px;
  position: relative;
  z-index: 0;
}

.conditionImage {
  top: -1px;
  z-index: 1;
  position: relative;
  border-radius: 50px;
}

.conditionText {
  padding: 0 0.3em;
}

span.condition::before {
  content: "";
  top: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  max-width: 1.7em;
  position: absolute;
  border-radius: 100px;
  background: var(--softViolet);
}

.conditionImageInverted {
  filter: invert(1) brightness(1.3);
  max-width: 25px;
  left: -1px;
  top: 1px;
}

.fiveDayForecast {
  display: flex;
  flex-direction: column;
}

.fiveDayForecastText {
  padding: 0.5em 0;
  margin-bottom: 0;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  grid-gap: 1em;
}

.card {
  padding: 2em;
  width: 240px;
  height: 375px;
  border-radius: 25px;
  background: var(--softViolet);
}

.dateIcon {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.cardStart .icon {
  filter: none;
  width: 20%;
}

.icon {
  width: 30%;
  filter: invert(1) brightness(1.3);
}

.spanContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 3em 0em;
}

.stat {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.stat span {
  color: var(--violet);
  font-weight: 700;
}

.map {
  width: 80%;
  height: 100%;
  min-height: 210px;
}
.map iframe {
  width: 100%;
  height: 100%;
  opacity: 0.85;
  min-height: 210px;
  border-radius: 25px;
  border: solid 3px #00c4ff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.bottomBar {
  background: var(--blue);
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: fixed;
  grid-gap: 5px;
  height: 2.5em;
  display: flex;
  width: 100%;
  bottom: 0;
}

.copyrightField {
  font-size: 13px;
  display: flex;
  grid-gap: 5px;
}

.addressField {
  padding-top: 5px;
}

.statText {
  font-size: 14px;
  font-weight: 700;
  color: var(--violet);
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: 300ms ease-in-out;
}

.buttonContainer {
  max-height: 575px;
  overflow-y: overlay;
}

.textOverflow {
  max-width: 45%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.textOverflow.tflow100 {
  max-width: 100%;
}
.textOverflow.tflow95 {
  max-width: 95%;
}
.textOverflow.tflow65 {
  max-width: 65%;
}
.textOverflow.tflowShowDots {
  overflow: visible;
  position: relative;
}
.textOverflow.tflowShowDots::after {
  content: "...";
  position: absolute;
  bottom: 10px;
  right: -20px;
  overflow: visible;
}

/* Mobile Responsiveness */
@media screen and (max-width: 1679px) {
  aside {
    width: 21%;
    transition: 150ms ease-in-out;
  }
  article {
    width: 76%;
    transition: 150ms ease-in-out;
  }
  .cityNameCountryDateTime {
    padding-bottom: 5px;
    margin-bottom: 0;
  }
  .statContainer, .statContainer span, .stat, .stat span {
    font-size: 0.9em;
  }
  h1, h2, h3 {
    font-size: 1.37em;
  }
  .conditionImageInverted {
    margin-top: -0.3em;
  }
}
@media screen and (max-width: 1550px) {
  .map {
    min-height: 232px;
  }
  .map iframe {
    min-height: 232px;
  }
  main {
    flex-direction: column;
    transition: 150ms ease-in-out;
  }
  aside {
    width: 100%;
    transition: 150ms ease-in-out;
  }
  article {
    width: 100%;
    transition: 150ms ease-in-out;
  }
  .bottomBar {
    position: static;
  }
}
@media screen and (max-width: 1300px) {
  .dashboard {
    flex-direction: column;
    background-position: -5px 50%;
  }
  .dashboard::after {
    background: linear-gradient(180deg, var(--blue) 55%, transparent 43%);
  }
  .map {
    width: 100%;
    margin-top: 65px;
    margin-bottom: -0.5em;
  }
  .fiveDayForecastText {
    padding: 1em 0;
    text-align: center;
  }
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
    height: 100%;
  }
  .dateIcon {
    width: 50%;
    margin: 0 auto;
  }
  .icon {
    max-width: 5em;
    margin-right: -1.4em;
  }
  .dayText {
    text-align: center;
  }
  .spanContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 3em 0em;
  }
  .stat {
    display: flex;
    margin: 1em auto;
    width: 90%;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-height: 992px) {
  .card {
    height: 280px;
  }
}
@media screen and (max-width: 768px) {
  .topBar {
    margin-bottom: 2.5em;
  }
  main {
    grid-gap: 20px;
    padding: 0em 2em 3em;
  }
  .locationButton {
    width: 80%;
    transition: 150ms ease-in-out;
  }
  .removeCityButton {
    width: 20%;
    transition: 150ms ease-in-out;
  }
  .dateIcon {
    width: 80%;
  }
  .statContainer {
    grid-gap: 0;
  }
  .statContainer div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .statContainer div.w50 {
    width: 100%;
  }
  .conditionImageInverted {
    width: 100%;
    margin-top: 0em;
  }
  .dashboard {
    background-position: 45% 50%;
  }
  .dashboard::after {
    background: linear-gradient(180deg, var(--blue) 50%, transparent 43%);
  }
  .map {
    top: -75px;
    margin-top: 65px;
    position: relative;
    margin-bottom: -5.5em;
  }
  .map iframe {
    margin-top: 20px;
    min-height: 285px;
  }
  .cityNameCountryDateTime {
    justify-content: space-between;
  }
  .geoDataWidgetTitleDetails {
    display: none;
  }
}
@media (max-width: 500px) {
  .coordinatesField.basic {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  aside {
    margin-bottom: -1em;
  }
  .map {
    margin-bottom: -1.3em;
  }
  .map iframe {
    min-height: 320px;
  }
  .stat {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */